# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\panet\OneDrive\Documenti\Univ\ingsw\Lab\EsercitazionePreEsame\.idea/dataSources/
/dataSources.local.xml
/target/
.project
.classpath
.settings
# Editor-based HTTP Client requests
/httpRequests/
